
header{
    display: flex;
    height: 70px;
    background-color: aqua;
    margin: 20px 30px 0 30px;
}
.head-par {
    width: 100%;
    text-align: right;
}
img{
    height: 40px;
    width: 40px;
    margin: 15px;
    position: absolute;
}
ul li a{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    
}
ul li a{
    padding: 0 0 0 10px;
}



.contena{
    margin: 40px 30px 0 30px;
    width: auto;
    background-color: aqua;
    height: auto;
    text-align: center ;
}
.contena h1{
    padding-top: 10px;
}
.contena p{
    padding: 10px 20px 40px 20px;
}